.home-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.introduction {
  text-align: center;
  margin-bottom: 50px;
}

.introduction h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: teal;
  text-align: center;
}

.introduction p {
  font-family: 'Waiting for the Sunrise', cursive;
  letter-spacing: 3px;
  font-size: 18px;
  /* line-height: 1.6; */
  color: silver;
}

.special-offers {
  text-align: center;
  background-color: #333;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  margin: 50px 0;
}

.special-offers h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: aqua;
}

.offer-details{
  text-align: center;
}
.offer-details p{
  color: rgb(255, 150, 150);
}

.offer-details .avail{
  color: #ffaa60;
}

.offer-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: seagreen;
}

.offer-card p {
  font-size: 16px;
  color: blanchedalmond;
  opacity: 0.8;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .slide-item img {
    max-height: 300px;
    border-radius: 0;
  }
  .slider {
    max-height: 150px;
  }
  .testimonial-card {
    width: 100%;
  }
}
